@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

:root {
  --brand-color: #84CC16;
  --dark-color: #27272A;
  --mid-color: #52525B;
  --light-color: #F5F5F5;
    }
body {
  background-color: #F5F5F5;
  color: black;
}

.box-text-principal{
  margin-top: 10px;
  color: #84CC16;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
}
.box-text-secundario{
  color: #F5F5F5;
  font-size: 15px;
  text-align: center;
  font-size: 20px;
}
.box-feature{
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  align-self: center;
}
.box-feature-text-principal{
  color: #84CC16;
  margin-top: 0;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}
.box-feature-text-secundario{
  color: #F5F5F5;
  display: block;
  font-size: 15px;
}

/* GRID */
.container {
  height: 60vh;
  width: 80vw;
  margin: 2rem auto;
  display: grid;
  grid-template-areas: "object object object"
                       "main main main"
                       "footer footer footer";
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.cell {
  padding: 4rem;
}

.box {
  margin-top: 0;
  height: 60vh;
  grid-area: main;
  background-color: #52525B;
  border-radius: 25px;
  display: grid;
  grid-gap: 10px;
  grid-row: row 2;
  grid-template-columns: 1fr 1fr;
}

.box-nested-principal{
align-items: center;
grid-column: 1 / 3;
grid-row: 1;
} 

.box-nested-feature-1{
  grid-column: 1;
  grid-row: 2;
}

.box-nested-feature-2{
  grid-column: 2;
  grid-row: 2;
}

/* Search form*/
.search-form{
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 25px;
  border: 2px solid #84CC16;
  padding: 20px; 
  width: 200px;
  height: 15px; 
}

.search{
  color: black;
}

.submit-button {
  margin-top: 25px;
  background: #525252; 
  color: #fff; 
  border: 1px solid #84cc16; 
  border-radius: 20px; 
  height: 40px;
  width: 100px; 
  }

  .submit-button:hover {
  background: #84cc84;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  }

/* NavbarTop */
.navbar-top {
  background-color: #fff;
  color: #333;
  box-shadow: 0px 4px 8px 0px grey;
  height: 70px;
}

.title {
  font-family: 'Dancing Script', cursive;
  padding-top: 15px;
  position: absolute;
  left: 45%;
}

.navbar-top ul {
  float: right;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 18px 50px 0 40px;
}

.navbar-top ul li {
  float: left;
}

.navbar-top ul li a {
  color: #333;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.icon-count {
  background-color: #ff0000;
  color: #fff;
  float: right;
  font-size: 11px;
  left: -25px;
  padding: 2px;
  position: relative;
}

/* End */

/* Sidenav */
.sidenav {
  background-color: #fff;
  color: #333;
  border-bottom-right-radius: 25px;
  height: 86%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
  top: 70px;
  width: 250px;
}

.profile {
  margin-bottom: 20px;
  margin-top: -12px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px grey;
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.job {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.url, hr {
  text-align: center;
}

.url hr {
  margin-left: 20%;
  width: 60%;
}

.url a {
  color: #818181;
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 6px 8px;
  text-decoration: none;
}

.url a:hover, .url .active {
  background-color: #e8f5ff;
  border-radius: 28px;
  color: #000;
  margin-left: 14%;
  width: 65%;
}

/* End */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Lobster|Montserrat|Roboto');
body{
  font-family: arial;
  padding: 0;
  background: #e8e8e8;
  
}

.movie-card{
  width: 70%;
  margin:auto;
  padding: 20px 30px 20px 15px;
  border-radius: 10px;
  background-blend-mode: multiply;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.5);
  transition: all 0.5s ease;
}
.movie-card:nth-child(1){
  background-image: url('http://i.imgur.com/VDxMxy9.jpg');
  background-position: center;
  background-size: cover;
}
.movie-card:nth-child(2){
  background-image: url('https://i.imgur.com/C4jET4Q.jpg');
  background-position: center;
  background-size: cover;
}
.movie-card:nth-child(3){
  background-image: url('https://i.imgur.com/Zetlod6.jpg');
  background-position: center;
  background-size: cover;
}
.card-overlay {
    background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}
.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
.movie-card-description{
  width: 400px;
  color: black;
}
.movie-title{
  margin: 0;
  font-family: Montserrat;
}
.movie-subtitle{
  margin-top: 5px;
  font-family: Lobster;
}
.movie-shorts{
  font-family: Roboto;
  text-align: justify;
}

.watch-btn{
  width: 200px;
  font-family: Fira Sans;
  margin: auto;
  padding: 10px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease;
}

.watch-btn:hover{
  color: #f00;
  border: 1px solid #f00;
}

.card-share{
  position: absolute;
}
.share-link {
    text-decoration: none;
    color: #e3e3e3;
    margin: 5px;
}

@media screen and (max-width: 768px){
  .movie-card{
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
  }
  .card{
    flex-direction: row;
  }
  .card-overlay {
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  }
  .card-share{
    position: relative;
  }
}
/* Main */
.main {
  margin-top: 2%;
  margin-left: 29%;
  font-size: 28px;
  padding: 0 10px;
  width: 58%;
}

.main h2 {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.main .card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.main .card table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #e7e7e8;
  right: 14%;
}

.social-media {
  text-align: center;
  width: 90%;
}

.social-media span {
  margin: 0 10px;
}

.fa-facebook:hover {
  color: #4267b3 !important;
}

.fa-twitter:hover {
  color: #1da1f2 !important;
}

.fa-instagram:hover {
  color: #ce2b94 !important;
}

.fa-invision:hover {
  color: #f83263 !important;
}

.fa-github:hover {
  color: #161414 !important;
}

.fa-whatsapp:hover {
  color: #25d366 !important;
}

.fa-snapchat:hover {
  color: #fffb01 !important;
}

.button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  color: #F5F5F5;
  font-size: 100%;
  white-space: normal;

}

/* End */
  
@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
  
  .box{
    border-radius: 0;
  }
}