:root {
  --brand-color: #84CC16;
  --dark-color: #27272A;
  --mid-color: #52525B;
  --light-color: #F5F5F5;
    }

body {
  margin: 0;
  background-color: #F5F5F5;
}
/* layout do conteudo da pagina */
.menu {
  float: left;
  width: 17%;
  text-align: center;
  margin-left: 1%;
}

.menu a {
  background-color: #52525B;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  color: black;
}

.right {
  background-color: #52525B;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: black;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background-color: #27272A;
  color: white;
  text-align: center;
}

.slider {
  height: 295px;
  width: 870px;
}

.slider-item {
  margin-left: 10px;
  height: 148px;
  width: 100px;
  
}

.slider-item-text {
  height: 79px;
  width: 100px;
  margin-left: 10px;
  font-size: 13px;
}