body {
  margin: 0;
  background-color: #19c919;
}
  
/* Style the header */
.header {
  background-color: #27272A;
  text-align: center;
}

.navbarbgcolor {
  background-color: #84CC16;
}
.avatar {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.circular--square { 
  border-top-left-radius: 50% 50%; 
  border-top-right-radius: 50% 50%; 
  border-bottom-right-radius: 50% 50%; 
  border-bottom-left-radius: 50% 50%; }

/* layout do conteudo da pagina */
.menu {
  float: left;
  width: 17%;
  text-align: center;
  margin-left: 1%;
}

.menu a {
  background-color: #52525B;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  color: black;
}

.right {
  background-color: #52525B;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: black;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background-color: #27272A;
  color: white;
  text-align: center;
}
    