body {
    margin: 0;
    background-color: #D4D4D8;
  }
  
  /* Style the header */
  .header {
    background-color: #27272A;
    text-align: center;
  }

  .navbarbgcolor {
    background-color: #27272A;
  }
  .avatar {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
:root {
--brand-color: #84CC16;
--dark-color: #27272A;
--mid-color: #52525B;
--light-color: #D4D4D8;
  }

  

  .circular--square { 
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; }
